<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cookie&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cookie&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
</head>

<body>

    <header>
        <section>
            <div class="header-liebre">
                <div class="logo">
                    <a href="/"><img class="liebre" src="/images/logo-mercado-liebre1.jpg" alt="Logo mercado liebre"></a><br> 
                </div>
                <div class="search-products">
                    <!-- <span><strong> Barra de búsqueda: </strong><span> -->
                    <input type="text" placeholder="Buscar productos, marcas"><a href="/search"><i class="fas fa-search"></i></a> 
                </div>
                <div class="purchase">
                    <p><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito</p>
                </div>
            </div>

            <div class="nav-all">
                <nav>
                    <ul>
                        <div class="nav1">
                            <div class="nav-items">
                                <li><a href="#">Ofertas</a></li>
                            </div>
                            <div class="nav-items">
                                <li><a href="#">Tiendas Oficiales</a></li>
                            </div>
                            <div class="nav-items">
                                <li><a href="#">Vender</a></li>
                            </div>
                            <div class="nav-items">
                                <li><a href="#">Ayuda</a></li>
                            </div>
                        </div>
                    </ul>
                </nav>
                <nav>
                    <ul>
                        <div class="nav2">
                            <div class="nav-items">
                                <li><a href="/register">Creá tu cuenta</a> <i class="far fa-address-card"></i></li>
                            </div>
                            <div class="nav-items">
                                <li><a href="/login">Ingresá</a> <i class="fas fa-sign-in-alt"></i></li>
                            </div>
                            <div class="nav-items">
                                <li><a href="#">Mis compras</a> <i class="fas fa-shopping-basket"></i></li>
                            </div>
                        </div>
                    </ul>
                </nav>

            </div>


            <div class="burger-menu-over">
                <i class="fas fa-bars burger-menu"></i>
            </div>

        </section>

        <div banner-div>
            <img id="banner" src="/images/img-home-banner.jpg" alt="banner">
        </div>

    </header>
    <main>

        <section>
            <h1>Basado en tu última visita</h1>
            <div class="products-responsive">
                <div class="article">
                    <div class="images-box">
                        <img src="/images/img-cafetera-moulinex.jpg" alt="cafetera" class="pictures">
                    </div>
                    <div class="description-box">
                        <i class="fas fa-truck"></i>
                        <div class="price-discount">
                            <p class="price">$6.770</p>
                            <p class="discount">40% OFF</p>
                        </div>
                        <h4 class="description">Cafetera Moulinex</h4> <br>
                    </div>
                </div>
                <div class="article">
                    <div class="images-box">
                        <img src="/images/img-macbook-pro-2019.jpg" alt="MacBook" class="pictures">
                    </div>
                    <div class="description-box">
                        <div class="picture-truck">
                            <i class="fas fa-truck"></i>
                        </div>
                        <div class="price-discount">
                            <p class="price">$230.000</p>
                            <p class="discount">20% off</p>
                        </div>
                        <h4 class="description">MacBook Pro 2019</h4> <br>
                    </div>
                </div>
                <div class="article">
                    <div class="images-box">
                        <img src="/images/img-samsung-galaxy-s10.jpg" alt="Samsung" class="pictures">
                    </div>
                    <div class="description-box">
                        <i class="fas fa-truck"></i>
                        <div class="price-discount">
                            <p class="price">$70.500</p>
                            <p class="discount">10% off</p>
                        </div>
                        <h4 class="description">Samsung Galaxy S10</h4><br>
                    </div>
                </div>
                <div class="article">
                    <div class="images-box">
                        <img src="/images/img-tv-samsung-smart.jpg" alt="SmartTv" class="pictures">
                    </div>
                    <div class="description-box">
                        <i class="fas fa-truck"></i>
                        <div class="price-discount">
                            <p class="price">$23.200</p>
                            <p class="discount">5% off</p>
                        </div>
                        <h4 class="description">SmartTv Samsung 43"</h4><br>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <h1>Sección de Ofertas</h1>

            <div class="products-responsive">
                <div class="article">
                    <div class="images-box">
                        <img src="/images/img-cafetera-moulinex.jpg" alt="cafetera" class="pictures">
                    </div>
                    <div class="description-box">
                        <i class="fas fa-truck"></i>
                        <div class="price-discount">
                            <p class="price">$6.770</p>
                            <p class="discount">40% OFF</p>
                        </div>
                        <h4 class="description">Cafetera Moulinex</h4> <br>
                    </div>
                </div>

                <div class="article">
                    <div class="images-box">
                        <img src="/images/img-macbook-pro-2019.jpg" alt="MacBook" class="pictures">
                    </div>
                    <div class="description-box">
                        <i class="fas fa-truck"></i>
                        <div class="price-discount">
                            <p class="price">$230.000</p>
                            <p class="discount">20% off</p>
                        </div>
                        <h4 class="description">MacBook Pro 2019</h4> <br>
                    </div>
                </div>

                <div class="article">
                    <div class="images-box">
                        <img src="/images/img-samsung-galaxy-s10.jpg" alt="Samsung" class="pictures">
                    </div>
                    <div class="description-box">
                        <i class="fas fa-truck"></i>
                        <div class="price-discount">
                            <p class="price">$70.500</p>
                            <p class="discount">10% off</p>
                        </div>
                        <h4 class="description">Samsung Galaxy S10</h4><br>
                    </div>
                </div>

                <div class="article">
                    <div class="images-box">
                        <img src="/images/img-tv-samsung-smart.jpg" alt="SmartTv" class="pictures">
                    </div>
                    <div class="description-box">
                        <i class="fas fa-truck"></i>
                        <div class="price-discount">
                            <p class="price">$23.200</p>
                            <p class="discount">5% off</p>
                        </div>
                        <h4 class="description">SmartTv Samsung 43"</h4><br>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer>
        <div class="footer-lower"> 
            <div class="separation-lower">
                <i class="fas fa-credit-card"></i><br>
                <strong>Pagá con tarjeta o en efectivo</strong><br>
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                    puntos de pago. ¡Y siempre es seguro!</p>
            </div>
    
            <div class="separation-lower">
                <i class="fas fa-gift"></i><br>
                <strong>Envío gratis desde $ 2.500</strong><br>
                <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                    productos. Es un beneficio de Mercado Puntos.</p>
            </div>
    
            <div class="separation-lower">
                <i class="fas fa-user-shield"></i><br>
                <strong>Seguridad, de principio a fin</strong><br>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                    porque estás siempre protegid@.</p>
            </div>
        </div>

        <strong>Copyright © 1999-2020 MercadoLiebre S.R.L.</strong>

    </footer>
</body>

</html>